<%= render 'users/list' , users: @user %>
<table>
  <h1><b>Book detail</b></h1>
  <tbody>
    <% @books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
    </tr>
    <% end %>

  </tbody>
</table>